$font-color: #282828;
$background-color: #F9FBFF;

@media screen and (min-width: 240px) {
  .hero {
    padding: 40px 30px 0 30px;
    display: grid;
    justify-items: center;
    row-gap: 25px;
    .infoHero {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 25px;
      a {
        width: 100%;
        display: flex;
        justify-content: center;
        .contactMeBtn {
            border-width: 0;
            padding: 10px 30px;
            background: $font-color;
            color: $background-color;
            border-radius: 5px;
            font-weight: 500;
            width: 80%;
            cursor: pointer;
            &:hover {
                opacity: 80%;
                transition: ease-in-out 0.1s;
            }
        }
      }
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .heroH1 {
          color: $font-color;
          font-size: 5.9rem;
          text-align: center;
          font-weight: 800;
        }
        .heroSpan {
            color: $font-color;
            opacity: 80%;
            text-align: center;
        }
    }
  }
}

@media screen and (min-width: 825px) {
  .hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1015px;
    padding: 30px 0 0 0;
    justify-items: end;
    align-items: center;
    .heroImg {
      width: 40%;
      height: fit-content;
    }
    .infoHero {
      align-items: initial;
      a {
        justify-content: flex-start;
      }
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .heroH1 {
          display: flex;
          flex-direction: column;
          font-size: 6.9rem;
          text-align: initial;
          line-height: 1.1;
          span {
            font-weight: 300;
            font-size: 5.9rem;
            opacity: 80%;
          }
        }
        .heroSpan {
            text-align: initial;
        }
    }
    .contactMeBtn {
      max-width: 230px;
    }
  }
}

@media screen and (min-width: 1114px) {
}
