$font-color: #282828;
$background-color: #f9fbff;

@media screen and (min-width: 240px) {
  .myProjectsContainer {
    display: grid;
    justify-items: center;
    padding: 40px 30px 0 30px;
    .btnsContainer {
      display: flex;
      column-gap: 15px;
      width: 100%;
      button {
        width: 100%;
        padding: 10px 25px;
        border-radius: 7px;
        cursor: pointer;
      }
      .gitHub {
        border-width: 0;
        background: $font-color;
        color: $background-color;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 5px;
          &::before {
            content: url(https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F00d8d732-332d-4744-8997-446ffb4be689%2Fgithubbtn.svg?table=block&id=310e5993-6bd1-433a-a996-0bbaa2b4999f&spaceId=f4b39258-8c2f-46b2-bf6e-5ed2bbe98d93&userId=b5d9e56c-d386-48d8-bfda-deb6eaf84065&cache=v2);
          }
        }
        &:hover {
            opacity: 80%;
            transition: ease-in-out 0.2s;
        }
      }
      .deploy {
          border-width: 2px;
          border-style: solid;
          border-color: $font-color;
          color: $font-color;
          font-weight: 600;
          background: $background-color;
          &:hover {
            border-color: transparent;
            background: $font-color;
            color: $background-color;
            transition: ease-in-out 0.2s;
          }
      }
    }
    .titleContainer {
      display: flex;
      column-gap: 10px;
      opacity: 90%;
    }
    .projectP {
      text-align: center;
      padding-bottom: 10px;
      color: $font-color;
      opacity: 80%;
    }
    .myProjects {
      color: $font-color;
      font-size: 3rem;
      text-align: center;
      padding-bottom: 40px;
      opacity: 90%;
    }
    .projectCardContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
      margin-bottom: 40px;
      .projectTitle {
        color: $font-color;
        font-size: 2.5rem;
      }
      .tagsContainer {
        display: flex;
        column-gap: 10px;
        row-gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .tag {
          padding: 5px 15px;
          background: #eaebee;
          color: hsla(0, 0%, 16%, 0.7);
          font-weight: 600;
          border-radius: 50px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 725px) {
  .myProjectsContainer {
    display: grid ;
    justify-items: center;
    padding: 40px 50px 0 50px;
  }
}

@media screen and (min-width: 1050px) {
  .myProjectsContainer {
    display: grid;
    justify-items: initial;
    padding: 110px 0 0 0;
    max-width: 1015px;
    .myProjects {
      font-size: 4rem;
      text-align: initial;
    }
    .projectCardContainer {
      align-items: initial;
      justify-content: space-between;
      .tagsContainer {
        display: flex;
        column-gap: 10px;
        row-gap: 10px;
        flex-wrap: wrap;
        justify-content: initial;
        align-items: center;
        .tag {
          padding: 5px 15px;
          background: #eaebee;
          color: hsla(0, 0%, 16%, 0.7);
          font-weight: 600;
          border-radius: 50px;
          font-size: 1.2rem;
        }
      }
    }
    .projectsDiv {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
    }
    .titleContainer {
      display: flex;
      column-gap: 10px;
      opacity: 90%;
    }
    .projectP {
      text-align: left;
      padding-bottom: 10px;
      color: $font-color;
      opacity: 80%;
    }
  }
}
