@media screen and (min-width: 240px) {
  .myProjectsContainer {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    padding: 40px 30px 0 30px;
  }
  .myProjectsContainer .btnsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    width: 100%;
  }
  .myProjectsContainer .btnsContainer a {
    width: 100%;
  }
  .myProjectsContainer .btnsContainer button {
    width: 100%;
    padding: 10px 25px;
    border-radius: 7px;
    cursor: pointer;
  }
  .myProjectsContainer .btnsContainer .gitHub {
    border-width: 0;
    background: #282828;
    color: #f9fbff;
  }
  .myProjectsContainer .btnsContainer .gitHub span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  .myProjectsContainer .btnsContainer .gitHub span::before {
    content: url(https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F00d8d732-332d-4744-8997-446ffb4be689%2Fgithubbtn.svg?table=block&id=310e5993-6bd1-433a-a996-0bbaa2b4999f&spaceId=f4b39258-8c2f-46b2-bf6e-5ed2bbe98d93&userId=b5d9e56c-d386-48d8-bfda-deb6eaf84065&cache=v2);
  }
  .myProjectsContainer .btnsContainer .gitHub:hover {
    opacity: 80%;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  .myProjectsContainer .btnsContainer .deploy {
    border-width: 2px;
    border-style: solid;
    border-color: #282828;
    color: #282828;
    font-weight: 600;
    background: #f9fbff;
  }
  .myProjectsContainer .btnsContainer .deploy:hover {
    border-color: transparent;
    background: #282828;
    color: #f9fbff;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  .myProjectsContainer .titleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    opacity: 90%;
  }
  .myProjectsContainer .projectP {
    text-align: center;
    padding-bottom: 10px;
    color: #282828;
    opacity: 80%;
  }
  .myProjectsContainer .myProjects {
    color: #282828;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 40px;
    opacity: 90%;
  }
  .myProjectsContainer .projectCardContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
    margin-bottom: 40px;
  }
  .myProjectsContainer .projectCardContainer .projectTitle {
    color: #282828;
    font-size: 2.5rem;
  }
  .myProjectsContainer .projectCardContainer .tagsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .myProjectsContainer .projectCardContainer .tagsContainer .tag {
    padding: 5px 15px;
    background: #eaebee;
    color: rgba(41, 41, 41, 0.7);
    font-weight: 600;
    border-radius: 50px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 725px) {
  .myProjectsContainer {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    padding: 40px 50px 0 50px;
  }
}

@media screen and (min-width: 1050px) {
  .myProjectsContainer {
    display: -ms-grid;
    display: grid;
    justify-items: initial;
    padding: 110px 0 0 0;
    max-width: 1015px;
  }
  .myProjectsContainer .myProjects {
    font-size: 4rem;
    text-align: initial;
  }
  .myProjectsContainer .projectCardContainer {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .myProjectsContainer .projectCardContainer .tagsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .myProjectsContainer .projectCardContainer .tagsContainer .tag {
    padding: 5px 15px;
    background: #eaebee;
    color: rgba(41, 41, 41, 0.7);
    font-weight: 600;
    border-radius: 50px;
    font-size: 1.2rem;
  }
  .myProjectsContainer .projectsDiv {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .myProjectsContainer .titleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    opacity: 90%;
  }
  .myProjectsContainer .projectP {
    text-align: left;
    padding-bottom: 10px;
    color: #282828;
    opacity: 80%;
  }
}
/*# sourceMappingURL=Projects.module.css.map */